services:
  user-bot:
    tty: true
    stdin_open: true
    build:
      context: .
      dockerfile: Dockerfile
    container_name: user-bot
    env_file:
      - .env
    restart: always
    volumes:
      - ./src:/app
    networks:
      - usrbot-network
    depends_on:
      - postgres

  postgres:
    image: postgres:latest
    container_name: usrbot-postgres
    environment:
      POSTGRES_USER: usrbot
      POSTGRES_PASSWORD: usrbot
      POSTGRES_DB: usrbot
    ports:
      - "5131:5432"
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql
    networks:
      - usrbot-network

networks:
  usrbot-network:
    external: true

volumes:
  pgdata:
