services:
  user-bot:
    tty: true
    stdin_open: true
    build:
      context: .
      dockerfile: Dockerfile
    container_name: user-bot
    env_file:
      - .env
    restart: always
    volumes:
      - ./src:/app
      - ./database.db:/app/database.db